*{
    margin: 0%;
    padding:0;
}
.navbar{
  width:80%;
  height:100px;
  margin-left:10%;
  z-index: 1;
  position: relative;
  top:30px;
}
  
.background{
    position:relative;
    top:-100px;
    overflow-x: hidden;
    
}

h3{
    color:rgb(1, 102, 185);
    position:absolute;
    top:60px;
    left:15%;
    
    z-index: 2;
    font-weight: bold;
    font-size: 20px;
}
.navbar-nav{
    position: absolute;
    right:5%;
    
}
.background img{
  width:200%;
  overflow-x: hidden;
}

.nav-item  {
  padding-left: 2rem;
} 

.nav-item:hover  {
 background-color:rgb(190, 190, 190) ;
 padding-top: 30px;
 padding-bottom: 30px;
}












.review{
    background: rgb(223, 222, 222);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    width: 80%;
    margin-left: 10%;
    position:absolute;
    top:650px;
  }
  
  
  
  
  .review .box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12%;
    font-weight: lighter;
    
   
  }
  
  .review .box-container .box{
    width:80%;
    height: 100%;
    margin:4rem 2rem;
    padding-bottom: 2rem;
    text-align: center;
    box-shadow: 0 .3rem .5rem rgb(190, 190, 190);
    background:#fff;
    position:relative;
    top:-200px;
  }
  
  .review .box-container .box .image{
    margin-top: -3rem;
  }
  
  .review .box-container .box .image img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    border: .2rem solid #fff;
  }
  
  .review .box-container .box .content h4{
    font-size: 1rem;
    color:rgb(1, 102, 185);
  }
  
  .review .box-container .box .content p{
    font-size: 1.4rem;
    color:#333;
    padding:.5rem 1.5rem;
    padding-left: 5%;
   
    
  }
  
  .review .box-container .box .content .stars i{
    color:gold;
    font-size: 1.5rem;
   padding-left:1rem;
   padding-top:1rem;
  }


  .like__btn {

    background: green;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #e8efff;
    outline: none;
    border: none;
    cursor: pointer;
    width:20%;
    height:4rem;
  }
  .review .box-container .box .content .sam{
      padding-top: 0px;
      margin-top: 20px;
      display:flex;
      margin-left: 25%;
      border:grey solid 1px;
      
      padding-left: 0;
      width:55%;
      height: 67px;
  }
  .box-container .box .comment form input[type="submit"]{
    color:#0098a1;
    border:.2rem solid gold;
    cursor: pointer;
    transition: .2s;
    width:20rem;
    background-color: gold;
    height:60px;
  }
  
  .box-container .box .comment form input[type="submit"]:hover{

    color:white;
    background:hsl(44, 100%, 46%);
  }
  
  .comment-data{
    font-family: Open Sans, serif;
    font-weight: bold;
    width: 40%;
    height: 100%;
    border: 0;
    background-color: #fad74a;
    color: #216cae;
    cursor: pointer;
  }
  
    .comment-button{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
    }
  
  #submit-comment-area1, #submit-comment-area2, #submit-comment-area3, #submit-comment-area4,#submit-comment-area5{
  display: none;
  }
  
  .comment-box-textbox{
  width: 70%;
  height: 8rem;
  padding: 1%;
  font-family: Open Sans, serif;
  }
  
  #submit-button1, #submit-button2, #submit-button3, #submit-button4,#submit-button5{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: 30%;
  }
  
  .Comment-display{
    display: none;
  }
  
  .submitter{
       
   clip-path: polygon(0 100%, 100% 100%, 100% 15%, 55% 15%, 50% 0, 45% 15%, 0 15%);
   margin: 20px;
   padding: 10% 10% 100px;
   background-color: #edf0f2;
    
    }

    button,h4{
      font-family: Open Sans, serif;
    }
    body{
      overflow-x: hidden;
    }

   @media (min-width:1000px) {
     .menu-wrap{
      display: none;
    }
  }

  @media (max-width:500px) {
    .menu-wrap{
      position: absolute;
     top: 50px;
     left:70%;
   }
   .review{
     position: absolute;
     top:80%;
   }
   .review .box-container .box{
     width:130%;
     position: relative;
     left:-32%;
   }
   .stars .fas{
     display: none;
   }
   
   .background img{
     width:300%;
   }
   .like__btn{
     height: 2.69rem;
   }
   .review .box-container .box .content .stars {
  
    padding-bottom:0rem;
   }
   div.stars{
     padding-bottom: 0;
     height:10px;
   }
   .review .box-container .box .content .sam{
     padding-top: 0px;
     margin-top: 0px;
     height: 45px;
 }
 
 }

@media (max-width:1300px) and (min-width:950px){
  .review{
    position: absolute;
    top:75%;
  }
  .review .box-container .box .content .sam{
    padding-top: 0px;
    margin-top: 20px;
    display:flex;
    margin-left: 15%;
    border:grey solid 1px;
    
    padding-left: 0;
    width:65%;
    height: 67px;
}
}
@media (max-width:950px) and (min-width:800px){
  .review{
    position: absolute;
    top:80%;
  }
}
@media (max-width:800px) and (min-width:500px){
  .review{
    position: absolute;
    top:70%;
  }
  
  .review .box-container .box .content .stars i{
    color:gold;
    font-size: 1rem;
   padding-left:0.5rem;
   padding-top:0.6rem;
  }
  .like__btn{
    height:3rem;
  }
  .review .box-container .box .content .stars {
  
   padding-bottom:0rem;
  }
  div.stars{
    padding-bottom: 0;
    height:10px;
  }
  .review .box-container .box .content .sam{
    padding-top: 0px;
    margin-top: 0px;
    height: 50px;
}

}


div.stars{
  margin-top: 5px;
}




  





 

   



















